@charset "UTF-8";

body {
    color: #2d2d2d;
    font-family: 'Crimson Text', serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2d2d2d;
    transition: .2s;
}

a:hover {
    opacity: .5;
}

img {
    max-width: 100%;
}


/*header*/

header {
    /* display: flex; */
    padding: 30px 4%;
}

.logo {
    text-align: center;
}


header a {
    margin-right: 50px;
}

.navi {
    display: flex;
    justify-content: center;
}

.navi a {
    margin-inline: 10px;
    color: black;
    display: inline-block;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/*main-wrapper*/

.main-wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
}

.main-contents {
    margin-block: 105px;
}

.contents {
    display: flex;
    align-items: center;
}

.contents img {
    width: 50%;
}

.contents .texts {
    width: 50%;
    padding: 0 7%;
}

.contents .texts h2 {
    margin-bottom: 5px;
}

.contents .texts h3 {
    margin-bottom: 25px;
}



#about {
    margin-top: 50px;
}

.web_contents {
    margin-top: 50px;
}

.work {
    text-align: center;
    margin-bottom: 25px;
}

.site {
    display: flex;
    justify-content: space-between;
}

.site li {
    width: 33%;
}

.contact {
    margin-top: 50px;
}

.contact_text {
    text-align: center;
}

.contact_text p {
    margin-bottom: 10px;
}



/*-------------------------------------------
ITEM
-------------------------------------------*/

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.item .item-text {
    width: 42%;
}

/*
  text-align: justify;
  テキストの両端を揃える
  */
.item .item-text p {
    margin-bottom: 30px;
    text-align: justify;
}

.item .item-text dl {
    display: flex;
    flex-wrap: wrap;
}

.item .item-text dt {
    width: 35%;
}

.item .item-text dd {
    width: 65%;
}

.item .item-img {
    width: 50%;
}

.design-content {
    margin-bottom: 50px;
}





/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 0.8rem;
}



/*responsive*/

@media (max-width: 767px) {

    /*main-wrapper*/

    .contents {
        flex-direction: column;
    }

    .main-contents {
        margin-block: 0;
    }

    .contents img {
        width: 100%;
    }

    .contents .texts {
        width: 100%;
        padding: 30px 0;
    }

    #about {
        flex-direction: column-reverse;
    }

    .site {
        flex-direction: column;
    }

    .site li {
        width: 100%;
        margin-bottom: 50px;
    }

    .site li:last-child {
        margin-bottom: 0;
    }


    /* item */
    .item {
        flex-direction: column;
    }

    .item .item-img {
        width: 100%;
    }

    .item .item-text {
        width: 100%;
    }

}